// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
     box-sizing: border-box;   
}

#container {
	overflow: hidden;
    width: 100%;
    text-align: center;
}

#centered {
    position: absolute;
    top: 300px;
    text-align: center;
    width: 100%;
}

#data {
    width: 100%;
    text-align: center;
}

#results {
	width: 100%;
    display: none;
}


#me {
	width: 50%;
    float: right;
    clear: right;
    padding: 20px;
}

#friend {
	width: 50%;
    float: left;
    padding: 20px;
}

#event-link {
	background: none;
}

#helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;	
}

#event {
    clear: both;
	margin: auto;
    padding: 0px;
}

#event-img-div {
	height: 400px;
	margin: auto;
}

#event-img {
    margin: 0px;
max-width:100%;
max-height:100%;
}

#buttons {
    clear: both;
}
