body {
	overflow: hidden;
}

#data {
	float: left;
}



#result {
	display: none;
	clear: both;
	float: left;
}

#friend, #me, #event {
	float: left;
}

#me {
	background: #52C2FF;
}

#friend {
	background: #FF9CE0;
	padding: 20px;
}

#event {
	float: center;
	clear: both;
}

#send-share, post-share {
	float: left;	
}