body {
	overflow: hidden;
}

#data {
	float: left;
}



#result-page {
	display: none;
	width: 600px;
}

#select, #result, #share {
	float: left;
	clear: both;
}

#friend, #me, #event {
	padding: 20px;
	float: left;
}

#me {
	background: #52C2FF;
	width: 200px;
}

#friend {
	background: #FF9CE0;
	width: 200px;
}

#event {
	background: #BABABA;
	width: 400px;
	clear: both;
}

#send-share, post-share {
	float: left;
	clear: both;	
}