#data {
	background: #4DB5FF;
	float: left;
}

#friend {
	clear: left;
	float: left;
	background: #FF9CE0;
	padding: 20px;
}

#event {
	float: left;
	background: #B49CFF;
	clear: right;
	padding: 20px;
}

#sendShare {
	float: left;
	clear: both;	
}