<script>

var computationDone = false;
var runAnalysis = function(stage) {
    $.ajax({
        type: "GET",
        url: '/analyse/'+stage,
    })
    .success(function(data) {
        console.log(data)
        if (data['status'] == "OK") {
            statusChanged(data['text']);
            runAnalysis(data['next']);
        }
        else if (data['status'] == "Done") {
            statusChanged("Your chosen friend is " + data['friend']['name']);
            if (computationDone === false) {
                computationDone = true;
                $("#new-friend").html("Give me another friend");
                $("#sendShare").html("Del dette!");
                $('#sendShare').attr('href', 'https://www.facebook.com/dialog/send?app_id=649498578495089&link=https://www.uka.no/' + data['friend']['id'] + '/' + '&redirect_uri=https://locahost:3001/');

            }
        }
        else {
            statusChanged("Error " + data);
        }
    });
}
var statusChanged = function(text) {
    $("#data").html($("#data").html() + "<br>" + text);
}
$( document ).ready(runAnalysis('Start'));
</script>
<a  id="new-friend" href="#" onclick="runAnalysis('Friend');"></a>
<br>
<div id="data"></div>

<a id="sendShare" href=""></a>