<script>

var computationDone = false;
var sharingLink = 'https://localhost:3001/uno';
var runAnalysis = function(stage) {
    $.ajax({
        type: "GET",
        url: '/analyse/'+stage,
    })
    .success(function(data) {
        console.log(data);
        if (data['status'] == "OK") {
            statusChanged(data);
            runAnalysis(data['next']);
        }
        else if (data['status'] == "Done") {
            statusChanged(data);
            if (computationDone === false) {
                computationDone = true;
                $("#new-friend").html("Give me another friend");
                $("#new-event").html("Give me another event");

                var app_id = 'app_id=649498578495089';
                var redirect = '&redirect_uri=https://localhost:3001/close';
                var disp = '&display=popup';
                var link = "https://apps.facebook.com/prosjektrestavfall/uno/10152607059212447/10154345683960422/1"

                var shareLink = 'https://www.facebook.com/dialog/share?'+app_id+'&display='+disp+redirect+'&href='+link;
                $("#postShare").html("Del dette!");
                $('#postShare').attr('onclick', "window.open('"+shareLink+"', 'fbshare', 'width=640,height=320');");

                var sendLink = 'https://www.facebook.com/dialog/send?'+app_id+'&display='+disp+redirect+'&link='+link;
                $("#sendShare").html("Send dette!");
                $('#sendShare').attr('onclick', "window.open('"+sendLink+"', 'fbshare', 'width=640,height=320');");
            }
        }
        else {
            statusChanged("Error " + data);
        }
    });
}
var statusChanged = function(data) {
    id = data['id']
    if (id == 'data') {
        $("#data").html($("#" + id).html() + "<br>" + data['text']);
    } else if (id == 'friend') {
        $("#friend-profile").attr("src", data['friend']['pic']);
        $("#friend-name").html(data['friend']['name']);
        $("#friend-id").html("ID: " + data['friend']['id']);
        addToLink(data['friend']['id']);
    } else if (id == 'event') {
        $("#eventLink").html(data['event']['name']);
        $("#eventLink").attr("href","http://www.facebook.com/"+data['event']['eventID']);
        $("#eventBuy").attr("href", data['event']['url'])
        $("#eventBuy").html("Kjøp billett på UKA.no!");
        addToLink(data['event']['id']);
        $("#linkShare").html(sharingLink);
    } else {
        $("#" + data).html("Error " + data + "<br>");
    }
}

function addToLink(part){
    sharingLink += '/' + part;
    console.log(sharingLink);
}

window.onload = function(){
    var selfid = "<%= @user[:id] %>"
    addToLink(selfid);
}



</script>
<a  id="start-test" href="#" onclick="runAnalysis('Start');$('#start-test').html('');">Start test</a>
<br>
<div id="me">
    <%= image_tag @user[:pic] %>
    <br>
    <%= @user[:name] %>
    <br>
    ID: <span id="self-id"><%= @user[:id] %></span>
</div>
<br>
<a  id="new-friend" href="#" onclick="runAnalysis('Friend');"></a>
<br>
<a  id="new-event" href="#" onclick="runAnalysis('Event');"></a>
<br>
<a id="sendShare"></a>
<br>
<a id="postShare"></a>
<br>
<div id="data"></div>
<br>
<div id="friend">
    <img id="friend-profile">
    <div id="friend-name"></div>
    <div id="friend-id"></div>
</div>
<br>
<div id="event">
    <a id="eventLink"></a>
    <br>
    <a id="eventBuy"></a>
    <br>
    <span id="linkShare"></span>
</div>
