<head>
    <%= stylesheet_link_tag 'home' %>
</head>

<div id="view">
    <div id="container" class="down">
        <div id="uka">
            <%= image_tag "UKElogo_hvit.png" %>
        </div>
        <div id="event">
			<div id="event-image-wrapper">
				<img id="event-image">
			</div>
            <div id="event-title">TILLATELSER</div>
        </div>
        <div id="description-wrapper">
            <div id="description">
				Vi mangler noen tillatelser fra deg.
				Disse er nodvendige for at vi skal
				kunne optimalisere lykken din!
				Vi publiserer ingenting uten din samtykke.
            </div>
            <div id="ticket">
				<%= link_to "TILLAT", @url, {target: "_top"} %>
            </div>
        </div>
	</div>
</div>
